/** For Phone **/
@media screen and (max-width: 719px) {
    body {
        width: 100%;
        font-size: 12px;
        background: #fff;
    }

    header {
        max-height: 800px;
        background-color: #ff00ff;
    }

    #Logo {
        height: 50px;
        width: 50px;
        background-color: #000;
        display: block;
        margin-left: 0%
    }

    #pcTabletNav {
        display: none;
    }

    #promotionvideo {
        height: 180px;
        width: 260px;
        display: block;
    }

    .articleImage {
        max-height: 300px;
        max-width: 300px;
    }

    .link {
        font-size: 12px;
        color: #00f;
        text-decoration-line: underline;
    }
}

/** For Tablet **/
@media screen and (min-width: 720px) and (max-width: 929px) {
    body {
        width: 720px;
        font-size: 12px;
        font-style: italic;
    }

    header {
        max-height: 800px;
        background-color: #ff00ff;
    }

    #Logo {
        height: 50px;
        width: 50px;
        background-color: #000;
        display: block;
        margin-left: 0%
    }

    #phoneNav {
        display: none;
    }

    #promotionvideo {
        height: 180px;
        width: 260px;
        display: block;
    }

    #articleImage {
        max-height: 300px;
        max-width: 300px;
    }

    .link {
        font-size: 12px;
        color: #00f;
        text-decoration-line: underline;
    }
}

/** For PC **/
@media screen and (min-width: 930px) {
    body {
        width: 930px;
    }

    header {
        max-height: 800px;
        background-color: #ff00ff;
    }

    #Logo {
        height: 50px;
        width: 50px;
        background-color: #000;
        display: block;
        margin-left: 0%
    }

    #phoneNav {
        display: none;
    }

    #promotionVideo {
        max-height: 180px;
        max-width: 260px;
        display: block;
    }

    #articleImage {
        max-height: 300px;
        max-width: 300px;
    }

    .link {
        font-size: 12px;
        color: #00f;
        text-decoration-line: underline;
    }
}