/**algemene dingen**/

body {
    font-size: 16px;
    background: #000;
    padding: 10px;
}

.TopPage {
    color: #0a0;
    word-spacing: 5px;
}

.active.search {
    color:#00f;
}
.search:visited{
    color:#f00;
}

.search:hover{
    color:#dcdcdc;
}

/**GRID**/
#LogoGrid {
    height: 50px;
    width: 50px;
    display: block;
}


#GridHead {
    color: #0ff;
    max-height: 800px;
    grid-area: head;
}

#LargeNav {
    grid-area: nav;
}

/**articles and aside**/

#Grid-Global {
    grid-area: global;
}

#Grid-Solve {
    grid-area: solve;
}

#Grid-Use {
    grid-area: usage;
}

#Grid-Who {
    grid-area: who;
}

#Grid-What {
    grid-area: what;
}

#Grid-Future {
    grid-area: future;
}

#Grid-Image1 {
    grid-area: aside1;
}

#Grid-Image2 {
    grid-area: aside2;
}

#Grid-Image3 {
    width: 100px;
    height: 100px;
    grid-area: aside3;
}

.image-Product {
    width: 100px;
    height: 100px;
}

#author-Product {
    background-color: #808080;
    grid-area: footer;
}

.Grid-Container {
    color: #FFF;
    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #b22222;
    border: solid 5px #ff0;

    display: grid;
    grid-gap: 10px;

    grid-template:
        'head head head' auto
        'head head head' auto
        'head head head' auto
        'nav nav nav' auto
        'solve global usage' auto
        'solve global usage' auto
        'what global usage' auto
        'what global who' auto
        'what global who' auto
        'what global who' auto
        'what future future' auto
        'aside1 aside2 aside3' auto
        'aside1 aside2 aside3' auto
        'footer footer footer' auto
        'footer footer footer' auto
        /40% 35% 25%;
}

/*PRICING PAGE*/


table {
    border-collapse: collapse;
    margin: 25px;
    min-width: 400px;
}

.Pricing-Table-Grid {
    border: 4px double #ffc72b;
    border-collapse: collapse 4px solid #fff;
    min-width: 20px;
    grid-area: table;
}

#price-Innovation {
    grid-area: price-article;
}

.green {
    background-color: #0e0;
}

.blue {
    background-color: #00f;
    color: #dcdcdc
}

.light {
    background-color: #0ff;
}

th,
td {
    width: 25%;
    text-align: left;
    margin-left: 5px;

}

#PriceLargeNav,
#PriceSmallNav {
    grid-area: navi;
}


#Grid-Price-Image1 {
    grid-area: priceimage1;
}

#Grid-Price-Image2 {
    grid-area: priceimage2;
}

#Grid-Price-Image3 {
    display: block;
    grid-area: priceimage3;
}

#source {
    grid-area: copy;
}

.Pricing-Grid {
    background-color: #808080;
    color: #000;
    padding: 10px;

    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;

    display: grid;

    grid-template:
        'head head head' auto
        'head head head' auto
        'head head head' auto
        'navi navi navi' auto
        'price-article price-article price-article' auto
        'table table priceimage1' auto
        'table table priceimage1' auto
        'table table priceimage2' auto
        'table table priceimage2' auto
        'table table priceimage3' auto
        'table table priceimage3' auto
        'copy copy copy' auto
        'footer footer footer' auto
        /45% 40% 15%
    ;
}

/*Contact*/

#contact {
    color: #FFF;
    background-color: #dc143c;

    grid-area: contact;
}

#Large-Nav-Contact {
    grid-area: navig;
}

#Contact-Info {
    grid-area: info;
}

#Grid-Contact-Image1 {
    grid-area: contacti1;
}

#Grid-Contact-Image2 {
    grid-area: contacti2;

}

.image-Contact {
    width: 100px;
    height: 100px;
}

#Grid-Contact-Image3 {
    grid-area: contacti3;
}

.Contact-Grid {
    background-color: #ff7f50;
    color: #000;
    padding: 10px;

    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    grid-template:
        'head head head' auto
        'head head head' auto
        'head head head' auto
        'navig navig navig' auto
        'info info info' auto
        'contact contact contacti1' auto
        'contact contact contacti1' auto
        'contact contact contacti2' auto
        'contact contact contacti3' auto
        'footer footer footer' auto
        /40% 35% 25%
    ;
}


/**FLEX**/


.flexIndex {
    display: flex;
    flex-wrap: wrap;
    background: #000;

    color: #FFF;
    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}


#flexHead {
    background-color: #000;
    color: #FFF;
    width: 100%;
    max-height: 800px;
    flex: 100%;

    order: 1;
}

#LogoFlex {
    height: 50px;
    width: 50px;
    display: flex;
}

#flexSmallNav,
#flexLargeNav {
    order: 2;
}

#flexLargeNav {
    display: flex;
    width: 100%;
}

/**Articles**/

.Pricing-Table-Flex {
    color: #dcdcdc;
    width: 33%;
    order: 3;
}

.FlexImage {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.articleImage {
    width: 150px;
    height: 100px;
    border: #f0f solid;
}

#promotionVideo {
    height: 180px;
    width: 260px;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    flex: 100%;

    order: 3;
}



#flexSection {
    flex: 33%;
    order: 5;
}

#article1 {
    background-color: #ff7f50;
}

#article2 {
    background-color: #f0f;
}

#article3 {
    background-color: #00f;
}


.IndexArticle {
    display: flex;
    padding: 10px;
}

.upcomingRoutes {

    flex: 33%;
    flex-direction: column-reverse;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 10px;
    top: 100px;

    background-color: #FA0;

    order: 5;
}

#LinkToSite {
    flex: 100%;
    background-color: #b22222;
    order: 6;
}

#author {
    background-color: #808080;
    flex: 100%;
    order: 7;
}

#cookie-statement {
    order: 10;
    padding: 10px;
    color: #FFF;
    opacity: 50%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #FA0;
    z-index: 9999;
}


/**PC en tabblad**/
@media screen and (min-width: 481px) {

    #flexSmallNav,
    #side-grid,
    #side,
    .iconh,
    .lines,
    .iconh-grid {
        display: none
    }
}

/**Tablet**/
@media screen and (min-width: 481px) and (max-width: 1279px) {

    .upcomingRoutes {

        flex: 66%;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 10px;
        top: 100px;

        background-color: #FA0;

        order: 3;
    }

    #promotionVideo {
        height: 180px;
        width: 260px;
        padding: 10px;

        display: flex;
        justify-content: flex-start;
        flex: 100%;

        order: 4;
    }



    .FlexImage {
        display: flex;
        flex: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .IndexArticle {
        display: flex;
        flex-direction: row-reverse;
    }

    #flexSection {
        flex: 66%;
        display: flex;
        flex-direction: column-reverse;
        order: 6;
    }

    #LinkToSite {
        flex: 100%;
        order: 7;
    }

    #author {
        flex: 100%;
        background-color: #808080;
        order: 8;
    }

    /*TabletGrid*/

    #Grid-Price-Image1 {
        display: none;
    }

    .Grid-Container {
        color: #FFF;
        font-size: 16px;
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        background-color: #b22222;
        border: solid 5px #ff0;

        display: grid;
        grid-gap: 10px;

        grid-template:
            'head head' auto
            'head head' auto
            'head head' auto
            'nav nav' auto
            'global solve' auto
            'global solve' auto
            'usage solve' auto
            'usage what' auto
            'usage what' auto
            'usage what' auto
            'future future' auto
            'future future' auto
            'aside1 aside2' auto
            'aside1 aside2' auto
            'footer footer' auto
            'footer footer' auto
            /50% 50%;
    }

    .Pricing-Grid {
        background-color: #808080;
        color: #000;
        padding: 10px;

        font-size: 16px;
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;

        display: grid;

        grid-template:
            'head head' auto
            'head head' auto
            'navi navi' auto
            'price-article price-article' auto
            'table table' auto
            'table table' auto
            'table table' auto
            'table table' auto
            'table table' auto
            'copy copy ' auto
            'priceimage2 priceimage3' auto
            'priceimage2 priceimage3' auto
            'footer footer' auto
            /50% 50%
        ;
    }

    .Contact-Grid {
        background-color: #ff7f50;
        color: #000;
        padding: 10px;

        font-size: 16px;
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;

        display: grid;
        grid-template:
            'head head' auto
            'head head' auto
            'head head' auto
            'navig navig' auto
            'info info' auto
            'contact contacti1' auto
            'contact contacti1' auto
            'contact contacti2' auto
            'contact contacti3' auto
            'footer footer' auto
            /50% 50%
        ;
    }
}

/**Phone**/
@media screen and (max-width: 480px) {

    #price-Innovation,
    #LogoFlex,
    #LogoGrid,
    #flexLargeNav, #LargeNav {
        display: none
    }

    /**Hamburger menu FLEX**/

    .menu {
        list-style: none;
        text-indent: 100px;
    }

    .search {
        background-color: #f0f;
        padding: 10px;
        flex: 33%;

        display: flex;
        font-style: normal;
        font-size: 24px;
        border: #b22222 solid;
    }

    #flexSmallNav {
        width: 100%;
        height: 100%;
        overflow: hidden;
        max-height: 0px;
    }

    #flexSmallNav .search {
        display: flex;
        padding: 25px;
    }

    #flexSmallNav .search:hover {
        display: block;
        padding: 25px;
        color: #dcdcdc;
    }

    .iconh {
        cursor: pointer;
        display: flex;
        position: fixed;
        flex-direction: row-reverse;
        padding: 20px 20px;
        left: 85%;
    }

    .lines {
        background-color: #FFF;
        position: relative;
        display: flex;

        height: 3px;
        width: 25px;
    }

    .lines::before,
    .lines::after {
        background-color: #fff;
        content: "";
        display: flex;
        position: absolute;

        height: 100%;
        width: 100%
    }

    .lines::before {
        top: 10px;
    }

    .lines::after {
        top: -10px;
    }

    #side {
        display: none;
    }

    #side:checked~#flexSmallNav {
        max-height: 100%;
    }

    #side:checked~#flexSmallNav .iconh {
        background: transparent;
    }

    #promotionVideo {
        display: none;
    }

    .upcomingRoutes {

        flex: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        top: 100px;

        padding: 10px;
        background-color: #FA0;

        order: 3;
    }


    #flexSection {
        display: flex;
        flex: 100%;
        flex-direction: column-reverse;
        order: 5;
    }

    .IndexArticle {
        flex-flow: column;
    }

    .FlexImage {
        display: flex;
        flex-direction: row;
        flex: 100%;
        width: 100%;
        margin: auto;

    }

    .articleImage {
        width: 150px;
        height: 100px;
        border: #f0f solid;
    }

    #LinkToSite {
        flex: 100%;
        order: 6;
    }

    #author {
        flex: 100%;
        background-color: #808080;
        order: 7;
    }

    /**HAMBURGER Menu (GRID)**/

    .menu {
        list-style: none;
        text-indent: 1px;

    }

    .search {
        background-color: #f0f;
        padding: 10px;

        display: block;
        font-style: normal;
        font-size: 24px;
        border: #b22222 solid;
    }

    #flexSmallNav {
        width: 100%;
        height: 100%;
        overflow: hidden;
        max-height: 0px;
    }

    #flexSmallNav .search {
        display: flex;
        padding: 25px;
    }

    #flexSmallNav .search:hover {
        display: block;
        padding: 25px;
        color: #dcdcdc;
    }

    .iconh-grid {
        cursor: pointer;
        display: block;
        position: fixed;
        flex-direction: row-reverse;
        padding: 20px 20px;
        left: 85%;
    }

    .lines-grid {
        background-color: #FFF;
        position: relative;
        display: block;

        height: 3px;
        width: 25px;
    }

    .lines-grid::before,
    .lines-grid::after {
        background-color: #fff;
        content: "";
        display: block;
        position: absolute;

        height: 100%;
        width: 100%
    }

    .lines-grid::before {
        top: 10px;
    }

    .lines-grid::after {
        top: -10px;
    }

    #side-grid {
        display: none;
    }

    #side-grid:checked~#flexSmallNav {
        max-height: 100%;
    }

    #side-grid:checked~#flexSmallNav .iconh-grid {
        background: transparent;
    }

    /**GRID PRODUCT**/

    .Grid-Container {
        color: #FFF;
        font-size: 16px;
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        background-color: #b22222;
        border: double 5px #ff0;

        display: grid;
        grid-gap: 10px;

        grid-template:
            'head nav' auto
            'head nav' auto
            'future future' auto
            'future future' auto
            'usage usage' auto
            'usage usage' auto
            'usage usage' auto
            'solve solve' auto
            'solve solve' auto
            'solve solve' auto
            'global global' auto
            'global global' auto
            'global global' auto
            'aside1 aside1' auto
            'aside1 aside1' auto
            'aside2 aside2' auto
            'aside3 aside3' auto
            'footer footer' auto
            'footer footer' auto
            /65 35%;

    }

    .Pricing-Grid {
        background-color: #808080;
        color: #000;
        padding: 10px;

        font-size: 16px;
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;

        display: grid;

        grid-template:
            'head navi' auto
            'head navi' auto
            'table table' auto
            'table table' auto
            'table table' auto
            'table table' auto
            'table table' auto
            'copy copy' auto
            'priceimage1 priceimage1' auto
            'priceimage2 priceimage2' auto
            'priceimage3 priceimage3' auto
            'footer footer' auto
            /50% 50%
        ;
    }

    .Contact-Grid {
        background-color: #ff7f50;
        color: #000;
        padding: 10px;

        font-size: 16px;
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;

        display: grid;
        grid-template:
            'head head' auto
            'head head' auto
            'head head' auto
            'info info' auto
            'contact contact' auto
            'contact contact' auto
            'contact contact' auto
            'contact contact' auto
            'contact contact' auto
            'contacti1 contacti1' auto
            'contacti1 contacti1' auto
            'contacti2 contacti2' auto
            'contacti3 contacti3' auto
            'footer footer' auto
            /70% 30%
        ;
    }
}